//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents
    .container
        h1 Grid System

        .row
            .col.grid-tile
                p 1

        .row
            .col.grid-tile
                p 1
            .col.grid-tile
                p 2

        .row
            .col.grid-tile
                p 1
            .col.grid-tile
                p 2
            .col.grid-tile
                p 3

        .row
            .col.grid-tile
                p 1
            .col.grid-tile
                p 2
            .col.grid-tile
                p 3
            .col.grid-tile
                p 4

        .row
            .col.grid-tile
                p 1
            .col.grid-tile
                p 2
            .col.grid-tile
                p 3
            .col.grid-tile
                p 4
            .col.grid-tile
                p 5

        .row
            .col.grid-tile
                p 1
            .col.grid-tile
                p 2
            .col.grid-tile
                p 3
            .col.grid-tile
                p 4
            .col.grid-tile
                p 5
            .col.grid-tile
                p 6


    h1.hp_section_header Typography
    h2.hp_section_header Typography
    h3.hp_section_header Typography
    h4.hp_section_header Typography
    h5.hp_section_header Typography
