//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents

    .row.hp_top_screen
        .col
            object(
                type="image/svg+xml" data="./assets/vectors/HeartLogo.svg" width="256" height="256"
            )
            h2 HappinessLab

        .col
            h1 MAKE EVERYONE HAPPY

    .container-fluid
        h1 Contents here.