//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents

    .row.hp_top_screen
        .col
            object(
                class="top-icon"
                type="image/svg+xml" data="./assets/vectors/HeartLogo.svg"
            )

        .col
            .top-message-wrap
                h1.top-message MAXIMAIZE
                    br
                    | YOUR
                    br
                    | PRODUCTIVITY

    .container-fluid
        h1 Products
            .hp_card
                h1 INSIGHT
                p.
                    INSIGHT is wonderful tool that will maximize your productivity.

                h1 PINNA
                p.
                    PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                    But, this is now under construction.
