@import 'https://fonts.googleapis.com/css?family=Comfortaa';
.jumbotron {
  text-align: center;
  height: 100vh; }
  .jumbotron h1 {
    font-size: 87px;
    font-family: 'Comfortaa', cursive; }
  .jumbotron .fa-5x {
    font-size: 90px !important;
    color: #ED5565; }
  .jumbotron .btn {
    color: #333; }

body * {
  background: #fff !important; }
