//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


nav.hp_navabar
    ul.hp_navbar_list
        li.hp_navbar_list
            a(href="#") Home
        li.hp_navbar_list
            a(href="#") Products
        li.hp_navbar_list
            a(href="#") Campanay
        li.hp_navbar_list
            a(href="#") Works
        li.hp_navbar_list
            a(href="#") News
