//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


nav.hp_navbar
    object.hp_nav_brnad_logo(
        type="image/svg+xml" data="./assets/vectors/HeartLogo.svg"
    )

    h1.hp_nav_brand Labbiness

    ul.hp_nav_menu
        li.hp_nav_list
            a(href="./") Home
        li.hp_nav_list
            a(href="#product") Products
        li.hp_nav_list
            a(href="#about_us") About Us
        li.hp_nav_list
            a(href="https://twitter.com/happinesslab_jp") News

    ul.hp_nav_menu_md
        li.hp_nav_list
            a(href="./") Home
        li.hp_nav_list
            a(href="#product") Products
        li.hp_nav_list
            a(href="#about_us") About Us
        li.hp_nav_list
            a(href="https://twitter.com/happinesslab_jp") News
